* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  border-bottom: 1px solid #b1b1b1;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav.putih {
  background-color: #fff;
}
nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
}
nav .logo img {
  vertical-align: middle;
  width: 125px;
}

nav .menu {
  float: right;
  height: 60px;
  max-width: 700px;
}

nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* pengaturan header */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
}
header .intro h3 {
  font-size: 45px;
  margin: 0;
  padding: 0;
}

header .intro p {
  font-size: 16px;
  margin: 0;
  padding: 10px;
}

@media only screen and (max-width: 991.98px) {
  .intro h3 {
    font-size: 24px; /* Adjust the font size for smaller screens */
    padding: 90px;
  }

  .intro p {
    font-size: 14px; /* Adjust the font size for smaller screens */
    padding: 5px;
  }
}

.tombol {
  background-color: #c86b85;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 4px;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Warna hitam dengan tingkat kejernihan 0,5 */
}
.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.tombol-menu .garis {
  height: 3px;
  background-color: #fff;
}
section {
  padding: 50px 0px 50px 0px;
}
section h3 {
  font-size: 30px;
}
section h3::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}
#aboutus,
#team {
  text-align: center;
}
section p.ringkasan {
  font-style: italic;
  font-size: 18px;
  color: #ababab;
}
section .konten-isi p {
  font-style: normal;
}
nav.putih {
  background-color: #fff;
}
nav.putih .tombol-menu .garis {
  background-color: #333;
}
nav.putih ul li a {
  color: #333;
}
nav .logo img.hitam {
  display: none;
}
section.abuabu {
  background-color: #f5f6f6;
}
.support,
.tim {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.support h6,
.tim h6 {
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}
.support img {
  width: 100px;
}
.support div,
.tim div {
  text-align: center;
  width: 100%;
}
section#gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}
section#gallery div {
  padding: 10px;
}
section#gallery div img {
  height: 100px;
  border-radius: 5px;
}
section#gallery div img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
section.quote {
  background: url("asset/backgroun sman1 kota agungg.jpeg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
}
section.quote .layar-dalam p {
  display: inline;
  background: url("asset/quote-icon.png") no-repeat;
  padding: 40px;
}
.tim img {
  width: 90%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 15px;
}

footer .layar-dalam .copyright {
  width: 100%;
  padding: 5px;
  border-top: 2px solid #666; /* Mengganti warna garis batas atas */
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 40px;
  }
  nav .menu ul li a {
    color: #333;
  }
  .tombol-menu {
    display: flex;
  }
  .support {
    display: block;
  }
  .support div {
    width: 100%;
    padding-bottom: 30px;
  }
}

.container {
  text-align: center;
  justify-content: center;
}

.FormData {
  margin: 0 auto;
}

#submitForm {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea,
input[type="file"] {



  width: calc(100%);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: left;
}
  .file-label {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit-button {
  background-color: #11009E;

.file-label {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #11009e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  line-height: 180%;
}

.submit-button:hover {

  background-color: #4942e4;
}

@media screen and (max-width: 600px) {
  #guestForm {
    max-width: 100%;
  }
}

}